---
const { data, index } = Astro.props;

let formData = {
    address: data?.address || '',
    personsWithAccess: data?.personsWithAccess || '',
    emergencyContact: data?.emergencyContact || '',
    user: data?.user || { _id: '' },
    _id: data?._id || '',
    
} as any;




export const partial = true;
---

<form hx-post="/api/update/location" hx-swap="transition:true" hx-target={`#locRow${index}`} >

    <div class="form-floating mb-1">
        <input type="text" id="address" class="form-control" name="address" autocomplete="address" placeholder="Address" value={formData.address}>
        <label for="address">Address</label>
    </div>

    <div class="form-floating mb-1">
        <input type="text" id="personsWithAccess" class="form-control" name="personsWithAccess" autocomplete="off" placeholder="Persons with access to your home" value={formData.personsWithAccess}>
        <label for="personsWithAccess">Persons with access to this location</label>
    </div>

    <div class="form-floating mb-1">
        <input type="text" id="emergencyContact" class="form-control" name="emergencyContact"placeholder="Emergency Contact" value={formData.emergencyContact}>
        <label for="emergencyContact">Emergency Contact</label>
    </div>

    <div style="width: 100%; display: flex; justify-content: end; padding: 10px">    
        <button 
            type="submit" 
            class="btn btn-success"
            >save
        </button>
    </div>
</form>

