---
import Layout from '../layouts/Layout.astro'
import CustomerTable from '../components/CustomerTable.astro'

import db from '../../lib/db'


const customers = await db.user.getAll();

console.log(customers)


---
<Layout >
  <div>

    <h1>Admin</h1>

      <p>This is the admin page.</p>

      <CustomerTable data={customers} />    

  </div>
</Layout>