<!-- ---
import Layout from '../layouts/Admin.astro'
import ClientInfoTable from './partials/ClientInfoTable.astro'
import { getCustomers } from '../lib/forms'

const data = await getCustomers()

---


<Layout title="Admin">
  <h1>Admin</h1>

    <p>This is the admin page.</p>

    <ClientInfoTable data={data} />

</Layout>
../services/forms -->