---
import Layout from '../layouts/Layout.astro';
import Creds from '../components/Creds.astro';
import MainContent from './partials/MainContent.astro';
---
<Layout>
	<MainContent active="Home">
		<div style="display: flex; align-items: center; flex-wrap: wrap; justify-content: space-around;">
			<div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around">
				<h1>Mad Cap Pet Care</h1>
				<h2>Austin, Texas</h2>
				<h3>Call or Text - (512) 497-8105 </h3>
				<h5>One Free Walk or Petsit for New Clients!</h5>
				<Creds />
			</div>
			<img style="display: block; float:right; max-height: 25rem; width: auto" src="/images/big-dog.jpg" width="300">
			<div>
				<div>
					<p>
						<strong>Your pets are your family.</strong> We understand that. That’s certainly how we feel about our pets as well! And, with that in mind, we pledge to give you the best care possible for your pets. You’ll be supporting a local business when choosing Mad Cap. Check out our yelp link above for our reviews.
					</p>
					<p>
						Whether you’re going to be out of town on vacation, or need us to walk your dog during the day while you’re at work, your pets will be in good hands with Mad Cap. <span style="text-decoration: underline">We are insured, bonded, trained in pet first aid & CPR</span>, and able to provide excellent references.
					</p>
				</div>
			</div>
		</div>
	</MainContent>
</Layout>

<style>
	p {
        margin: 15px 0;
        padding: 5px;

    }

	img {
		margin: 15px 0;
		padding: 5px;
	}

    p::before {
        content: " ";
        margin-right: 0.5em;
    }
</style>

