---
import Layout from '../layouts/Layout.astro';
import MainContent from './partials/MainContent.astro';
import ContentBlock from '../components/ContentBlock.astro';

---
<Layout title="Services & Rates">
<MainContent>
<h2>Services & Rates</h2>
        <ContentBlock>
            <h3>Meet and Greet</h3>
            <p>This is a meeting for us to get acquainted, go over necessary paperwork, and for me to get to know what you and your pets need. There is no charge for this visit.</p>
        </ContentBlock>
        
        <ContentBlock>
            <h3>15 minute potty break $18</h3>
            <p>Perfect for a quick potty break, or a short walk around the block.</p>
        </ContentBlock> 
        
        <ContentBlock>
            <h3>Half hour visit $23</h3>
            <p>We'll play with your pet, give him or her some exercise, and make sure they have everything they need.</p>
        </ContentBlock> 
        
        <ContentBlock>
            <h3>1 hour visit $34</h3>
            <p>Great for dogs that need a little extra attention, or for multiple pet households.</p>
        </ContentBlock> 

        <ContentBlock>
            <h3>Cat Visits $18</h3>
            <p>We will be sure your cat gets plenty of attention, and whatever else is needed to make him or her happy and comfortable while you’re gone.</p>
        </ContentBlock> 

        <ContentBlock>
            <h3>Pet Taxi</h3>
            <h5>$25 per hour</h5>
            <p>Rather than trying to juggle your schedule to get your pet where he or she needs to go, give us a call. We can take care of trips such as:
                <ul>
                    <li>Taking your pet to the veterinarian</li>
                    <li>Transportation to or from the airport</li>
                    <li>Trips to the groomer</li>
                    <li>Other pet transportation, as needed</li>
                </ul>
            </p>
        </ContentBlock>
        
        <ContentBlock>
            <h3>Multiple Pet Fees</h3>
            <p>All prices are for households with up to two pets. There is an additional fee of $5 for 3 or more pets.</p>
        </ContentBlock>
        
        <ContentBlock>
            <h3>The following services are included with our pet sitting visits</h3>
            <ul>
                <li>Fresh food and water</li>
                <li>Playtime, exercise, toys</li>
                <li>Lots of attention and belly rubs</li>
                <li>Administering medication</li>
                <li>Watering plants</li>
                <li>Bringing in the mail</li>
                <li>Taking the trash to the curb</li>
                <li>Alternating lights</li>
                <li>Adjusting blinds</li>
                <li>Custom packages</li>
            </ul>
        </ContentBlock>
        

        

        <ContentBlock>
            <h3>Holiday Fees</h3>
            <p>An additional $5 charge per visit for the following holidays
                <ul>
                    <li>New Year’s Day</li>
                    <li>Easter</li>
                    <li>Memorial Day</li>
                    <li>Fourth of July</li>
                    <li>Labor Day</li>
                    <li>Thanksgiving</li>
                    <li>Christmas Eve</li>
                    <li>Christmas</li>
                    <li>New Year’s Eve</li>
                </ul>

            </p>
        </ContentBlock>


        We will be happy to work with you to arrange for customized pet sitting and dog walking services to suit the needs of you and your pet(s). Please contact us for more information.


    </MainContent>
</Layout>
<style>
    p {
        margin-bottom: 1rem;
        padding: 20px;
    }
    ul {
        list-style-type: disc;
        list-style-position: outside;
        margin-left: 40px;
    }

</style>
