--- 

import Layout from '../layouts/Layout.astro';
import MainContent from './partials/MainContent.astro';

---

<Layout active="Reviews">
    <MainContent>
            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 20px;">
                <span class="yelp-review" data-review-id="bSmc7ZK65vlNS_yKuk_TTQ" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=sbWA7Nc2-oJ-PoMOAac4ZA" rel="nofollow noopener">Chris H.</a>'s <a href="https://www.yelp.com/biz/hound-for-hound-austin?hrid=bSmc7ZK65vlNS_yKuk_TTQ" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/ehcokAVyUz1s3mo2tin8PA" rel="nofollow noopener">Hound for Hound</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a></span>



                <span class="yelp-review" data-review-id="im2EHKAxpbOelRF9uRSuNQ" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=owbEeJrjRUbn_r1iSiu-Hw" rel="nofollow noopener">Sydney B.</a>'s <a href="https://www.yelp.com/biz/hound-for-hound-austin?hrid=im2EHKAxpbOelRF9uRSuNQ" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/ehcokAVyUz1s3mo2tin8PA" rel="nofollow noopener">Hound for Hound</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a></span>



                <span class="yelp-review" data-review-id="hFP4fWrBnkNcycZI1Dpgeg" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=V7mwv2xxcEiCs0zRX6-ljA" rel="nofollow noopener">David C.</a>'s <a href="https://www.yelp.com/biz/hound-for-hound-austin?hrid=hFP4fWrBnkNcycZI1Dpgeg" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/ehcokAVyUz1s3mo2tin8PA" rel="nofollow noopener">Hound for Hound</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a></span>



                <span class="yelp-review" data-review-id="hFP4fWrBnkNcycZI1Dpgeg" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=V7mwv2xxcEiCs0zRX6-ljA" rel="nofollow noopener">David C.</a>'s <a href="https://www.yelp.com/biz/hound-for-hound-austin?hrid=hFP4fWrBnkNcycZI1Dpgeg" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/ehcokAVyUz1s3mo2tin8PA" rel="nofollow noopener">Hound for Hound</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a></span>


            <script src="https://www.yelp.com/embed/widgets.js" type="text/javascript" async></script>
            </div>
    </MainContent>
</Layout>

