---
import Layout from '../layouts/Layout.astro';
import MainContent from './partials/MainContent.astro';


---
<Layout>
<MainContent active="Services">
    <div class="d-flex flex-wrap flex-row" style="width: 100%; margin: 0 auto">
    <h2 style="width: 100%">Services & Rates</h2>
    <div class="card ">
        <div class="card-header">
            <h4>Meet and Greet</h4>
        </div>
        <div class="card-body">
            <p>This is a meeting for us to get acquainted, go over necessary paperwork, and for me to get to know what you and your pets need. There is no charge for this visit.</p>
        </div>
    </div>
      
    <div class="card ">
        <div class="card-header">
            <h4>15 minute potty break</h4>$18
        </div>
        <div class="card-body">
            <p>Perfect for a quick potty break, or a short walk around the block.</p>
        </div>
    </div>
         
    <div class="card ">
        <div class="card-header">
            <h4>Half hour visit </h4>$25
        </div>
        <div class="card-body">
            <p>We'll play with your pet, give him or her some exercise, and make sure they have everything they need.</p>
        </div>
    </div>
        
    <div class="card  ">
        <div class="card-header">
            <h4>1 hour visit</h4>$34
        </div>
        <div class="card-body">
            <p>Great for dogs that need a little extra attention, or for multiple pet households.</p>
        </div>
    </div>

    <div class="card ">
        <div class="card-header">
            <h4>Cat Visits</h4>$18
        </div>
        <div class="card-body">
            <p>We will be sure your cat gets plenty of attention, and whatever else is needed to make him or her happy and comfortable while you’re gone.</p>
        </div>
    </div>
        
    <div class="card  ">
        <div class="card-header">
            <h4>Pet Taxi</h4>$25 per hour
        </div>
        <div class="card-body">
            <p>Rather than trying to juggle your schedule to get your pet where he or she needs to go, give us a call. We can take care of trips such as:
                <ul>
                    <li>Taking your pet to the veterinarian</li>
                    <li>Transportation to or from the airport</li>
                    <li>Trips to the groomer</li>
                    <li>Other pet transportation, as needed</li>
                </ul>
            </p>
        </div>
    </div>
        
        
    <div class="card ">
        <div class="card-header">
            <h4>Services included</h4>
        </div>
        <div class="card-body">
            <ul>
                <li>Fresh food and water</li>
                <li>Playtime, exercise, toys</li>
                <li>Lots of attention and belly rubs</li>
                <li>Administering medication</li>
                <li>Watering plants</li>
                <li>Bringing in the mail</li>
                <li>Taking the trash to the curb</li>
                <li>Alternating lights</li>
                <li>Adjusting blinds</li>
            </ul>
        </div>
    </div>
        
    <div class="card ">
        <div class="card-header">
            <h4>Fees</h4>
        </div>
        <div class="card-body">
            <p>All prices are for households with up to two pets. There is an additional fee of $5 for 3 or more pets.</p>
            <p>An additional $5 charge per visit for the following holidays:
                <ul>
                    <li>New Year’s Day</li>
                    <li>Easter</li>
                    <li>Memorial Day</li>
                    <li>Fourth of July</li>
                    <li>Labor Day</li>
                    <li>Thanksgiving</li>
                    <li>Christmas Eve</li>
                    <li>Christmas</li>
                    <li>New Year’s Eve</li>
                </ul>
            </p>
        </div>
    </div>
            

    <div class="card ">
        <div class="card-header">
            <h4>Customized Services</h4>
        </div>
        <div class="card-body">
            <p>We will be happy to work with you to arrange for customized pet sitting and dog walking services to suit the needs of you and your pet(s). Please contact us for more information.</p>        We will be happy to work with you to arrange for customized pet sitting and dog walking services to suit the needs of you and your pet(s). Please contact us for more information.
        </div>
    </div>
    </div>
    </MainContent>
</Layout>

<style>
    .card {
        margin: 5px;
        width: 100%;
        min-width: 150px;
        max-width: 300px;
    }
    .card-footer {
        display: flex;
        justify-content: flex-end;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
    }
</style>