---
import nodemailer from 'nodemailer';

let formData = await Astro.request.formData();

let error = "";


if ( Astro.request.method === 'POST' ) {

    const validateEmail = (email) => {
        return String(email)
        .toLowerCase()
        .match(
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    };

    if (! validateEmail(formData.get('email'))) {
        error = "invalid email address";
    }

    let mailData = {
        from: formData.get('email'),
        to: 'stanjosh@gmail.com',
        subject: `Message from ${formData.get('name')}`,
        html: `from: ${formData.get('email')} <b>${formData.get('name')}</b> 
                
                <br>${formData.get('message')}<br/>`,
    };

    nodemailer.createTransport({
        port: 465,
        host: "smtp.gmail.com",
        auth: {
                user: 'stanjosh@gmail.com',
                pass: import.meta.env.EMAIL_PW,
            },
        secure: true,
    })
    .sendMail(mailData, function (err, info) {
        if(err) {
            console.log(err)
            error = err.message;
            Astro.response.status = 500;
        }
    });
  Astro.response.status = 201;
} 

---

<div>
    { error ? 'message not sent' + error : 'message sent'}    
</div>