---

import { createCustomer } from '../../lib/forms.ts'


let customer;


if ( Astro.request.method === 'POST' ) {
  const formData = await Astro.request.formData()
  const data: Record<string, string | boolean > = {}
  for (const [key, value] of formData.entries() as unknown as [string, string][]  ) {
    if (value === 'on') data[key] = true
    else data[key] = value
    
  }
  customer = await createCustomer(data)
  console.log(customer)

} else {
  Astro.response.status = 405;
 
}

export const partial = true;
---


<div>
  { customer ? 
    <div>
      <h1>Customer Created</hjson>
      <p>{customer.name}</p>
      <p>{customer.email}</p>
      <p>{customer.phone}</p>
    </div>
    :
    <h1>Customer not created</h1>
</div>../../services/forms.ts