---
export const partial = true;

---

<footer>


    <a title="Hound for Hound is trained in pet first aid" href="https://www.pettech.net" target="_blank">
      <img src="/images/logo-pettech.jpg" alt="Pet Tech pet first aid for cats and dogs" width="194" height="55">
    </a>
    <a href="https://www.petsitllc.com/" target="_blank">
      <img src="/images/logo-psa.jpg" alt="Pet Sitters Associates, pet sitting insurance" width="155" height="75">
    </a>
    <a href="https://www.petsitusa.com" target="_blank">
      <img src="/images/logo-petsitusa.jpg" alt="Pet sitter directory, pet sitters, pet sitting" width="122" height="65">
    </a>
    <a href="https://www.austinpetsitters.org" target="_blank">
      <img src="/images/logo-apso.jpg" alt="Austin Pet Sitters Organization" width="104" height="75">
    </a>
    

</footer>

<style>
  footer {
		display: flex;
        flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		margin: 0 auto;
		padding: 1rem;
		max-width: 800px;
		background: var(--accent-gradient);
	}
</style>