---


import 'bootstrap/dist/css/bootstrap.min.css';
---

<!doctype html>
<html lang="en" data-bs-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

		

		<meta name="generator" content={Astro.generator} />
		<title>MadCap Petsitting</title>
	</head>
	<body>
		
		<slot />




	</body>



	</html>

	<script>
		import 'bootstrap/dist/js/bootstrap.min.js';
	</script>

<style is:global>

	@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka:wght@300..700&display=swap');

	:root {
		--accent: #fdf500ce;
		--accent-light: #fdf500ce;
		--accent-dark: 49, 10, 101;

	}
	* {
		font-family: 'Fredoka', sans-serif;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	h1, h2, h5 {
		font-family: 'Archivo Black', sans-serif;
	}
	


</style>
