---
import Layout from '../../layouts/Layout.astro'

import AdminHeader from '../../components/AdminHeader.astro'






---
<Layout >
  <AdminHeader />
  <div id="admin-content" hx-get="/admin/partials/Locations" hx-trigger="load" hx-swap="innerHTML">

    

      

  </div>



</Layout>


<style is:global>
    html {
      overflow-x: hidden;
      margin-right: calc(-1 * (100vw - 100%));
    }

    form: {
      height: 100%;
      align-items: center;
    }

    .loading-indicator {
      width: 35px;
      height: 35px;
      filter: invert(1)
    }

    .admin-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        
    }

    th, td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    

    tr:nth-child(odd) {
        background-color: aquamarine;
    }

    .pet-icon {
        flex: 0 1 55px;
        min-width: 30px;
        margin: 2px;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }

    .pet-icon:hover {
      background-color: #d3fdea;
    }

    .pet-icon-img {
        width: 30px;
        height: 30px;
        
    }
    .pets {
        width: 100%;
        display: flex;
        flex: 1 1 400px;
        flex-wrap: wrap;
        justify-content: end;
    }
    
    .locations {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        

    }

    .location {
      width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;

  }

  .list-group {
    width: 100%;
    list-style-type: none;
    text-align: right;
  }

  .list-group li {
    vertical-align: middle;
    width: 100%;
  }

  .list-group input[type="checkbox"] {
    vertical-align: middle;
    margin: 10px;
    width: 30px;
    height: 30px;
  }


  .loc-btn {
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex: 1 1 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ccc;
    margin: 5px;
  }

  .loc-btn:hover {
    background-color: #d3fdea;
  }

  .loc-btn:active {
    background-color: #a3fdea;
  }



</style>