---
import LocationDisplay from './LocationDisplay.astro'

const { data } = Astro.props


export const partial= true;

---



<div class="container container-fluid" id="location-table">

    { data.map((rowData: any, index: number) => (
        <LocationDisplay data={rowData} index={index} />
    )) }

    <div class="accordion-item" id={`locRow-new`}>
            <LocationDisplay index={-1}>
                Add New Location
            </LocationDisplay>
    </div>

</div>


