---
import LocationDisplay from './LocationDisplay.astro'

const { data } = Astro.props

console.log(data)
export const partial= true;

---



<div class="locations accordion-flush" id="location-table">
<table>
    <tbody>
        <tr>
            <th>Location info</th>
        </tr>
    { data.map((rowData: any, index: number) => (
        <tr><td id={`locRow${index}`}><LocationDisplay location={rowData} index={index} /></td></tr>
    ))
    </tbody>
</table>



</div>


