---
import LocationDisplay from './LocationDisplay.astro'

const { data } = Astro.props


export const partial= true;

---



<div class="accordion accordion-flush mx-auto" id="location-table">

    { data.map((rowData: any, index: number) => (
        <div class="accordion-item" id={`locRow${index}`}>
            <LocationDisplay location={rowData} index={index} />
        </div>
    ))



</div>


