---
import VisitDisplay from "./VisitDisplay.astro";
import LocationTitle from './LocationTitle.astro'

const { data } = Astro.props


export const partial= true;

---



<div class="locations">
<table>
    <tbody>
        <tr>
            <th>Time</th>
            <th>Address</th>
            <th>Main Task</th>
            <th>Other Tasks</th>
            <th>Location</th>
        </tr>

    { data.map((rowData: any, index1: number) => (
        <tr>   
            <td>{ rowData.times?.toLocaleString() }</td>
            <td>{ rowData.location?.address }</td>
            <td>{ rowData.type }</td>
            <td><VisitDisplay data={ rowData.tasks } visitType={rowData.type} index={index1} /></td>
            <td><LocationTitle location={rowData.location} index={index1} /></td>
        </tr>
    ))

    </tbody>
</table>



</div>



