---

export const partial=true;



---

<h3> 
    Search Visits 
    <span class="htmx-indicator"> 
      <img src="/img/bars.svg"/> Searching... 
     </span> 
  </h3>
  <input class="form-control" 
    id="search"
    type="search" 
    name="search" placeholder="Begin Typing To Search Visits..." 
    hx-post="/api/visits/search" 
    hx-trigger="input changed delay:500ms, search" 
    hx-target="#search-results" 
    hx-indicator=".htmx-indicator"
    >

<div id="search-results" hx-get="/api/visits/all" hx-trigger="load" hx-swap="innerHTML">




</div>